* {
    margin: 0;
}
.team {
    margin-top: 1%;
}

.lab_list {
    margin-top: 2%;
}
.lab {
    display: inline-block;
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    border-radius: 15%;
    margin: 10px 20px;
    padding: 1em;
    font-size: medium;
}

#selected {
    background-color: black;
    color: white;
}

.menu {
    list-style: none;
    padding-left: 10%;
    float: left;
    width: 20%;    

}

.item {
    display: inline-block;
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    border-radius: 30px;
    margin: 10px 20px;
    padding: 10px;
    font-size: large;
}

.execution {
    line-height: 25px;
    margin-top: 2em;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    
}
.output {
    margin-top: 10px;
    float: right;
    width: 65%;
}

.adjust {
    padding: 1em;
    border-style: solid;
    border-width: thin;
    margin-right: 30%;
    font-size:larger;
    margin-bottom: 2em;
}

.problem, .functions, .requirements {
    margin: 0;
}

.problem {
    padding-left: 30px;
}

.selectors {
    list-style: none;
}

.code {
    overflow: scroll;
}