* {
    margin: 0;
}
.team {
    margin-top: 1%;
}

.lab_list {
    margin-top: 2%;
}
.lab {
    display: inline-block;
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    border-radius: 15%;
    margin: 10px 20px;
    padding: 1em;
    font-size: medium;
}

#selected {
    background-color: black;
    color: white;
}

.menu {
    list-style: none;
    padding-left: 10%;
    float: left;
    width: 20%;    

}

.item {
    display: inline-block;
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    border-radius: 30px;
    margin: 10px 20px;
    padding: 10px;
    font-size: large;
}

.execution {
    line-height: 25px;
    margin-top: 2em;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    
}
.output {
    margin-top: 10px;
    float: right;
    width: 65%;
}

.adjust {
    padding: 1em;
    border-style: solid;
    border-width: thin;
    margin-right: 30%;
    font-size:larger;
    margin-bottom: 2em;
}

.problem, .functions, .requirements {
    margin: 0;
}

.problem {
    padding-left: 30px;
}

.selectors {
    list-style: none;
}

.code {
    overflow: scroll;
}

button {
    left: 1000px;
    box-sizing: border-box;
    max-width: 100px;
    height: 60px;
    max-height: 60px;
    margin: 20px 10px 0;
    font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
        Ubuntu, sans-serif;
    font-size: 85%;
    line-height: 1.15;
    color: #fff;
    cursor: pointer;
    background-color: #405cf5;
    border-width: 0;
    border-radius: 6px;
    outline: none;
    box-shadow: rgb(50 50 93 / 10%) 0 0 0 1px inset,
        rgb(50 50 93 / 10%) 0 2px 5px 0, rgb(0 0 0 / 7%) 0 1px 1px 0;
    appearance: button;
    backface-visibility: hidden;
}

button:hover{
    background-color: #354dd2;
}

#students {
    font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
    font-size: 85%;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    outline-style: double;
}

#students th {
    padding: 10px 10px 10px 10px;
    background-color: #006faf;
    color: white;

}

#students td, #students th {
    border: 2px solid #e2e2e2;
    padding: 10px;
}
  
#students tr:nth-child(odd){
    background-color: #cfcfcf;
}
  
#students tr:hover {
    background-color: #c7e2fc;
}
  
#tasks {
    text-indent: 1.5em;
    text-align: justify;
}